body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* p {
    margin: 0px;
}

* a {
    text-decoration: none;
    color: black;
}

input[type=text] {
    padding: 10px 100px 10px 10px;
    background-color: #f4f1f1;
    border: none;
}


/* Navigacijska traka */
nav p {
    font-size: 14px;
}

nav{
    background-color: white;
    position:fixed;
    width: 100%;
    padding-left: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}


.logo {
    width: 137px;
    height: 22px;
}


.prvi_stupac {
    display: inline-block;
    width: 51%;
}


.drugi_stupac {
    display: inline-block;
    width: 48%;
}

.ps_prvired {
    padding-bottom: 20px;
}

.ds_prvired {
    padding-bottom: 20px;
    margin-left: 155px;
}

.ds_drugired p {
    display: inline-block;
    padding-left: 20px;
}

.linkovi {
    font-weight: bold;
}

#hire {
    color: cadetblue;
}

.support {
    color: cadetblue;
    font-weight: bold;

}

/* Text */

.prvidio {
    margin-left: 200px;
    margin-right: 40%;
    padding-top: 123px;
    padding-bottom: 20px;
    border-bottom: 1px solid #8b8b8b;
}

.prvidio p {
    font-size: 15px;
    color: #3a3a3a;
    line-height: 1.6;
}

.naslovprvi {
    font-size: 20px;
    padding-bottom: 10px;
        color: black;
            line-height: 1.6;
}

.podnaslovprvi{
    font-size: 17px;
    padding-bottom: 10px;
    font-weight: bold;
    color: black;
}

.podnaslovdrugi{
        font-size: 17px;
    padding-bottom: 10px;
    font-weight: bold;
    color: black;
}

.prvidio li {
    font-size: 15px;
    color: #3a3a3a;
        line-height: 1.6;
}

.drugidio {
    margin-left: 200px;
    margin-right: 40%;
    padding-top: 20px;
    padding-bottom: 100px;
      line-height: 1.6;
}

.drugidio p {
    font-size: 15px;
    color: #3a3a3a;
}

.drugidio li {
    font-size: 15px;
    color: #3a3a3a;
}

.naslovdrugi {
    font-size: 20px;
    padding-bottom: 10px;
        color: black;
}

.podnaslovtreci{
        font-size: 17px;
    padding-bottom: 10px;
    font-weight: bold;
    color: black;
}

.podnaslovcetvrti{
        font-size: 17px;
    padding-bottom: 10px;
    font-weight: bold;
    color: black;
}


/* Footer */

footer {
    background-color: cadetblue;
}

.container {
    margin-left: 100px;
    padding: 40px;
    position: relative;
}

.autorskaprava {
    display: inline-block;
    margin-left: 200px;
}

.info {
    display: inline-block;
    margin-bottom: 40px;
    position: absolute;
}

.social{
  margin-top: 55px;
}

footer a {
    color: white;
    font-size: 15px;
}
